---
import About from "@components/about.astro";
import Hero from "@components/Hero.astro";
import Stats from "@components/Stats.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Hero />
  <Stats />
  <About />
  <div style="height: 5000px; margin-top: 4.5rem">Home</div>
</Layout>
