$font-main: "Golos Text", sans-serif;
$font-secondary: "Inter", sans-serif;
$font-tertiary: "Oranienbaum", serif;

$color-main: #25252c;
$color-brown-dark: #93422e;
$color-brown-light: #b4836e;
$color-bg-dark: #1a2128;

$color-text-dim: rgba(255, 255, 255, 0.6);

$transition-base: all 0.3s ease-in-out;

$shadow-small:
  rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
  rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
$shadow-medium:
  rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
  rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
$shadow-large:
  rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
  rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
$shadow-extra:
  rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
  rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
