---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import SEO from "@components/SEO.astro";
// font golos
import "@fontsource/golos-text/400.css";
import "@fontsource/golos-text/600.css";
import "@fontsource/golos-text/800.css";
// font inter
import "@fontsource/inter/300.css";
import "@fontsource/inter/400.css";
import "@fontsource/inter/600.css";
// font oranienbaum
import "@fontsource/oranienbaum";

import "@fortawesome/fontawesome-free/css/all.min.css";

// const { title, description, permalink } = Astro.props;
const title = "Отдых на берегу Прони — аренда домов и бани в Пронске";
const description =
  "Аренда уютных домиков и настоящей бани посуточно в Пронске на берегу реки Проня. Отдых в уникальном месте, всего в 69 км от Рязани. Бронирование онлайн";
const permalink = `${Astro.site?.href}`;
---

<html lang="ru">
  <head>
    <SEO title={title} description={description} permalink={permalink} />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style lang="scss" is:global>
  @use "webcoreui/styles" as *;
  @use "webcoreui/config" as *;

  @include setup(
    (
      theme: "light",
      includeResets: true,
      includeUtilities: true,
      includeTooltip: true,
      // includeScrollbarStyles: true,
       // includeBreakpoints: true
    )
  );

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
  }

  html {
    height: 100%;
    scroll-behavior: smooth;
  }

  body {
    display: flex;
    flex-direction: column;

    // background-color: var(--bg-color, #000);
    min-height: 100vh;
    color: $color-main;
    font-weight: 400;
    font-size: clamp(0.75rem, 1vw + 0.75rem, 1.25rem);
    line-height: 1.5;

    font-family: $font-main;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.25;
    font-family: inherit;
    text-wrap: balance;
    word-wrap: break-word;
  }

  h1 {
    @include typography(3xl); // Например, 32px
  }
  h2 {
    @include typography(2xl); // 28px
  }
  h3 {
    @include typography(xl); // 24px
  }
  h4 {
    @include typography(lg); // 21px
  }
  h5 {
    @include typography(md); // 18px
  }
  h6 {
    @include typography(default); // 16px
  }

  main {
    flex: 1; /* Оставляем, чтобы он толкал футер вниз */
    width: 100%; /* Убедимся, что он на всю ширину */
    height: 5000px;
  }

  .anchor {
    scroll-margin-top: 4.5rem;
  }

  a,
  button {
    cursor: pointer;
    border: none;
    background: unset;
    color: inherit;
    white-space: nowrap;
  }

  p,
  li {
    line-height: 1.5;
    font-family: inherit;
    text-wrap: pretty;
    word-wrap: break-word;
  }

  img,
  svg,
  picture {
    vertical-align: middle;
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    max-width: 100%;
    height: auto;
  }

  .section {
    padding-block: 6rem 3rem;
  }

  .container {
    margin-inline: auto;
    margin: 0 auto;
    padding: 0.5rem;
    max-width: 90rem;
    height: auto;
  }

</style>
